<authLayout>
    <div class="w-full flex flex-wrap">
        <div class="w-full md:w-1/2 flex flex-col">
            <div class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-32">
                <svg style="display: block;margin:auto" width="103" height="139" viewBox="0 0 103 139" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <mask id="path-1-inside-1_0:3" fill="white">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.17306 22C1.57509 9.93178 11.3288 0.504982 23.3143 0.0196345V0H24.2857H77.7143H79.6571V0.0788348C91.1948 1.01895 100.463 10.2595 101.827 22H102V25V36H0V25V22H0.17306Z"/>
                    </mask>
                    <path d="M23.3143 0.0196345L23.5166 5.01554L28.3143 4.82126V0.0196345H23.3143ZM0.17306 22V27H4.62581L5.13966 22.577L0.17306 22ZM23.3143 0V-5H18.3143V0H23.3143ZM79.6571 0H84.6571V-5H79.6571V0ZM79.6571 0.0788348H74.6571V4.68799L79.2511 5.06232L79.6571 0.0788348ZM101.827 22L96.8603 22.577L97.3742 27H101.827V22ZM102 22H107V17H102V22ZM102 36V41H107V36H102ZM0 36H-5V41H0V36ZM0 22V17H-5V22H0ZM23.112 -4.97627C8.54165 -4.38625 -3.12224 7.03699 -4.79354 21.423L5.13966 22.577C6.27241 12.8266 14.116 5.39621 23.5166 5.01554L23.112 -4.97627ZM18.3143 0V0.0196345H28.3143V0H18.3143ZM24.2857 -5H23.3143V5H24.2857V-5ZM77.7143 -5H24.2857V5H77.7143V-5ZM79.6571 -5H77.7143V5H79.6571V-5ZM84.6571 0.0788348V0H74.6571V0.0788348H84.6571ZM106.794 21.423C105.167 7.4244 94.086 -3.76204 80.0632 -4.90465L79.2511 5.06232C88.3035 5.79993 95.7587 13.0947 96.8603 22.577L106.794 21.423ZM101.827 27H102V17H101.827V27ZM97 22V25H107V22H97ZM97 25V36H107V25H97ZM102 31H0V41H102V31ZM5 36V25H-5V36H5ZM5 25V22H-5V25H5ZM0 27H0.17306V17H0V27Z" fill="#EED96C" mask="url(#path-1-inside-1_0:3)"/>
                    <mask id="path-3-inside-2_0:3" fill="white">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M101.827 121.278C100.425 130.999 90.6712 138.593 78.6857 138.984V139H77.7143L24.2857 139H22.3429V138.936C10.8052 138.179 1.53701 130.735 0.173058 121.278H0V118.861V110L102 110V118.861V121.278H101.827Z"/>
                    </mask>
                    <path d="M78.6857 138.984L78.5227 133.987L73.6857 134.145V138.984H78.6857ZM101.827 121.278V116.278H97.4963L96.8781 120.564L101.827 121.278ZM78.6857 139V144H83.6857V139H78.6857ZM24.2857 139V134V139ZM22.3429 139H17.3429V144H22.3429V139ZM22.3429 138.936H27.3429V134.254L22.6703 133.947L22.3429 138.936ZM0.173058 121.278L5.12186 120.564L4.5037 116.278H0.173058V121.278ZM0 121.278H-5V126.278H0V121.278ZM0 110V105H-5V110H0ZM102 110H107V105H102V110ZM102 121.278V126.278H107V121.278H102ZM78.8487 143.982C92.5814 143.534 104.939 134.724 106.776 121.991L96.8781 120.564C95.9104 127.275 88.7609 133.653 78.5227 133.987L78.8487 143.982ZM83.6857 139V138.984H73.6857V139H83.6857ZM77.7143 144H78.6857V134H77.7143V144ZM24.2857 144H77.7143V134H24.2857V144ZM22.3429 144H24.2857V134H22.3429V144ZM17.3429 138.936V139H27.3429V138.936H17.3429ZM-4.77574 121.991C-2.98961 134.376 8.77102 143.056 22.0154 143.926L22.6703 133.947C12.8394 133.302 6.06363 127.094 5.12186 120.564L-4.77574 121.991ZM0.173058 116.278H0V126.278H0.173058V116.278ZM5 121.278V118.861H-5V121.278H5ZM5 118.861V110H-5V118.861H5ZM0 115L102 115V105L0 105V115ZM97 110V118.861H107V110H97ZM97 118.861V121.278H107V118.861H97ZM102 116.278H101.827V126.278H102V116.278Z" fill="#EED96C" mask="url(#path-3-inside-2_0:3)"/>
                    <path d="M24.8633 59.5273C24.6419 62.5872 23.5091 64.9961 21.4648 66.7539C19.4336 68.5117 16.7513 69.3906 13.418 69.3906C9.77214 69.3906 6.90104 68.1667 4.80469 65.7188C2.72135 63.2578 1.67969 59.8854 1.67969 55.6016V53.8633C1.67969 51.1289 2.16146 48.7201 3.125 46.6367C4.08854 44.5534 5.46224 42.9583 7.24609 41.8516C9.04297 40.7318 11.1263 40.1719 13.4961 40.1719C16.7773 40.1719 19.4206 41.0508 21.4258 42.8086C23.431 44.5664 24.5898 47.0339 24.9023 50.2109H19.043C18.8997 48.375 18.3854 47.0469 17.5 46.2266C16.6276 45.3932 15.293 44.9766 13.4961 44.9766C11.543 44.9766 10.0781 45.6797 9.10156 47.0859C8.13802 48.4792 7.64323 50.6471 7.61719 53.5898V55.7383C7.61719 58.8112 8.07943 61.0573 9.00391 62.4766C9.94141 63.8958 11.4128 64.6055 13.418 64.6055C15.2279 64.6055 16.5755 64.1953 17.4609 63.375C18.3594 62.5417 18.8737 61.2591 19.0039 59.5273H24.8633ZM63.8555 69H57.9961V56.8125H46.5703V69H40.7109V40.5625H46.5703V52.0859H57.9961V40.5625H63.8555V69ZM98.1016 56.6758H86.8516V64.293H100.055V69H80.9922V40.5625H100.016V45.3086H86.8516V52.0859H98.1016V56.6758Z" fill="#EED96C"/>
                    <path d="M19.6484 92.6289H8.39844V104.25H2.53906V75.8125H21.0547V80.5586H8.39844V87.9023H19.6484V92.6289Z" fill="#EED96C"/>
                    <path d="M62.6484 92.3789H51.3984V104H45.5391V75.5625H64.0547V80.3086H51.3984V87.6523H62.6484V92.3789Z" fill="#EED96C"/>
                    <path d="M99.7695 104H93.9102V75.5625H99.7695V104Z" fill="#EED96C"/>
                </svg>
                <form class="flex flex-col pt-3 md:pt-8" action="#" method="POST">

                    <div class="flex flex-col pt-4">
                        <label for="email" class="text-lg">{{ $t('auth.email') }}</label>
                        <input type="text" v-model="loginData.email"
                            class="shadow appearance-none border rounded-lg w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline"
                            :class="{ 'border-pink-400': errors.email }">
                    </div>

                    <div class="flex flex-col pt-4">
                        <label for="password" class="text-lg">{{ $t('auth.password') }}</label>
                        <input type="password" v-model="loginData.password"
                            class="shadow appearance-none border rounded-lg w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline"
                            :class="{ 'border-pink-400': errors.password }">
                    </div>

                    <input v-on:click.prevent="login()" type="submit" value="Ingresar"
                    class="bg-black text-white rounded-lg font-bold text-lg hover:bg-gray-700 p-2 mt-8 cursor-pointer">
                </form>
            </div>
        </div>

        <div class="w-1/2 shadow-2xl">
            <img class="object-cover w-full h-screen hidden md:block" :src="logo">
        </div>
    </div>
</authLayout>